.containerForm {
  margin-top: 5rem;
}

.formStyle {
    flex-direction: row;
    align-self: center;
    border-color: black;
    border-width: 0.5em !important;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    background-color: #008bbac9 !important;
}

.title {
    font-size: 1.75rem;
    align-self: center;
    font-weight: bold;
}

.buttonSignIn {
    margin-top: 1rem;
    align-self: center;
    width: 100%;
}